<div>
    <form action="/wknd/pages" method="POST">
    <!--<form action="/content/wknd-new/us/en/adventures/geeks-page/_jcr_content.geeks.txt" method="POST">-->
    <!--<form action="${currentPage}/_jcr_content.geeks.txt" method="POST">--> <!--ne radi-->
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <input type="submit" value="Submit">
    </form>
</div>
