<sly data-sly-resource="${resource @ resourceType='wcm/foundation/components/responsivegrid'}"
data-sly-test="${(wcmmode.edit)}"
></sly>
<div class="hero__slide animation animation--slide js-slide" data-sly-test="${(wcmmode.disabled)}"
 data-sly-use.slide="com.adobe.aem.guides.wknd.core.models.Ticket"
    data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${!slide.empty}">
	<div class="hero__image animation__image has-cover js-responsive-image" style="${slide.backgroundImageSrc @ context='styleString'}"></div>
	<div class="hero__content animation__fade js-full-width">
		<span class="hero__tag tag animation__fade-down">${slide.ticketHeader}</span>
		<div class="hero__title-wrap">
			<h2 class="hero__title animation__text-rises">${slide.title}</h2>
		</div>
		<p class="hero__text animation__fade ">${slide.description}</p>
		<a href="" class="btn animation__fade">
			<span class="icon font-ico-arrow"></span>
			<span class="btn__outline">Read more</span>
		</a>
		<span class="hero__progress animation__progress js-progress" aria-hidden="true"></span>
	</div>
</div>

<!--animation__text-rises-->