<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSH58VFR3VdSdAFu19dWp0TXrhQp949EI"></script>

<div
    data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html">
    
    <div class="offices__map animation js-animation">
        <div class="offices__map-content js-map-location animation__wipe-delay" data-lat="51.62847472867886" data-lng="-2.9719217458758713" data-icon="true"></div>
        <div class="offices__map-bg animation__wipe"></div>
    </div>
</div>