<div>    
    <section class="sharing-vertical js-social-scroll">
        <div class="sharing-vertical__wrap">
            <button class="sharing-vertical__button js-vertical-share" type="button" aria-label="Open sharing options">
                <span class="icon" aria-hidden="true">
                    <img src="/content/dam/lor/ico-share.svg" style="width:35px;height:35px;">
                </span>
                <span class="sr-only">Open/close share items</span>
            </button>
            <ul class="sharing-vertical__content" role="menubar">
                <li class="sharing-vertical__items" role="menuitem">
                    <a class="sharing-vertical__link" href="javascript:;" target="_blank">
                        <span class="icon" aria-hidden="true">
                            <img src="/content/dam/lor/ico-linkedin.svg" style="width:35px;height:35px;filter: invert(21%) sepia(64%) saturate(5244%) hue-rotate(173deg) brightness(100%) contrast(94%);">
                        </span>
                        <span class="sr-only">Share on linkedin</span>
                    </a>
                </li>
                <li class="sharing-vertical__items" role="menuitem">
                    <a class="sharing-vertical__link" href="javascript:;" target="_blank">
                        <span class="icon" aria-hidden="true">
                            <img src="/content/dam/lor/ico-facebook.svg" style="width:35px;height:35px;filter: invert(21%) sepia(64%) saturate(5244%) hue-rotate(173deg) brightness(100%) contrast(94%);">
                        </span>
                        <span class="sr-only">Share on facebook</span>
                    </a>
                </li>
                <li class="sharing-vertical__items" role="menuitem">
                    <a class="sharing-vertical__link" href="javascript:;" target="_blank">
                        <span class="icon" aria-hidden="true">
                            <img src="/content/dam/lor/ico-twitter.svg" style="width:35px;height:35px;filter: invert(21%) sepia(64%) saturate(5244%) hue-rotate(173deg) brightness(100%) contrast(94%);">
                        </span>
                        <span class="sr-only">Share on twitter</span>
                    </a>
                </li>
                <li class="sharing-vertical__items" role="menuitem">
                    <a class="sharing-vertical__link" href="javascript:;" target="_blank">
                        <span class="icon" aria-hidden="true">
                            <img src="/content/dam/lor/ico-mail.svg" style="width:35px;height:35px;filter: invert(21%) sepia(64%) saturate(5244%) hue-rotate(173deg) brightness(100%) contrast(94%);">
                        </span>
                        <span class="sr-only">Share on mail</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>