<div
    data-sly-use.downloadscustom="com.adobe.aem.guides.wknd.core.models.DownloadsCustom"
    data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${!downloadscustom.empty}" >

    <section class="downloads">
        <div class="wrap wrap--small">
            <div class="downloads__container">
                <div class="downloads__left">
                    <span data-sly-test="${downloadscustom.date}" class="downloads__date">${downloadscustom.date}</span>
                    <div class="downloads__content">
                        <h3 class="downloads__heading h6">${downloadscustom.header}</h3>
                        <p class="downloads__text">${downloadscustom.description}</p>
                    </div>
                </div>
                <div class="downloads__right"  data-sly-list.item="${downloadscustom.downloadsWithMap}">
                    <a href="${item.navigationRoot}" class="link link--download" target="_blank" data-size="112kb">${item.assettodownload}
                    <span><img class="font-ico-chevron-right" src="/content/dam/lor/resources/ico-chevron-right.svg" style="width:9px;height:9px;margin:9px;filter: invert(49%) sepia(72%) saturate(7350%) hue-rotate(166deg) brightness(90%) contrast(95%);"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>

</div>

<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=true}"></sly>