<template data-sly-template.simple="${ @ ticket}">
    <div class="expertise__box animation js-expertise-box js-animation cmp-ticket" 
        data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
        data-sly-test.hasContent="${!ticket.empty}"
			 >
        <a href="javascript:;" class="expertise__box-link animation__fade-up">
            <div class="expertise__image js-expertise-image" style="${ticket.backgroundImageSrc @ context='styleString'}" data-image='${ticket.imageSrc}' aria-hidden="true"></div>
            <span class="expertise__tag tag expertise__tag--box js-expertise-tag color">${ticket.ticketHeader}</span>
            <h3 class="expertise__title expertise__title--box h5 color-white color">${ticket.title}</h3>
            <p class="expertise__text expertise__text--box color-white color">${ticket.description}</p>
            <span class="link cmp-ticket-read-more"> Read more <img class="font-ico-chevron-right" src="/content/dam/lor/resources/ico-chevron-right.svg" style="width:13px;height:13px;margin-left:5px;">
            </span>
        </a>
    </div>
    <sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=true}"></sly>

</template>
