<!--/* byline.html */-->
<!--/* byline.html */-->
<div class="expertise__box animation js-expertise-box js-animation cmp-ticket" 
    data-sly-use.ticket="com.adobe.aem.guides.wknd.core.models.Ticket"
    data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${!ticket.empty}" style="${ticket.backgroundImageSrc @ context='styleString'}">
	<a href="javascript:;">
        <span class="expertise__tag tag expertise__tag--box js-expertise-tag cmp-ticket-header">${ticket.ticketHeader}</span>
        <h3 class="expertise__title expertise__title--box h5 color-white cmp-ticket-title">${ticket.title}</h3>
        <p class="expertise__text expertise__text--box color-white cmp-ticket-description">${ticket.description}</p>
        <span class="link cmp-ticket-read-more"> Read more <span class="icon font-ico-chevron-right"></span>
    </span>
    </a>
</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=true}"></sly>


