<sly data-sly-use.ticket="com.adobe.aem.guides.wknd.core.models.Ticket" data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
>
<!--<sly data-sly-resource="${resource @ resourceType='wcm/foundation/components/responsivegrid'}" data-sly-test="${(wcmmode.edit)}"></sly>-->
<sly >
        <sly data-sly-test.sticky="${properties.layout == 'sticky'}"
            data-sly-use.stickyTemplate="sticky.html"
            data-sly-call="${stickyTemplate.sticky @ ticket=ticket}"
		></sly>
		<sly data-sly-test.imageblock="${properties.layout == 'imageblock'}"
            data-sly-use.imageblockTemplate="imageblock.html"
            data-sly-call="${imageblockTemplate.imageblock @ ticket=ticket}"
		></sly>
        <sly data-sly-test.simple="${!sticky && !imageblock}"
            data-sly-use.simpleTemplate="simple.html"
            data-sly-call="${simpleTemplate.simple @ ticket=ticket}"
		></sly>
</sly>

<!--<sly data-sly-test="${(wcmmode.edit)}" data-sly-call="${placeholderTemplate.placeholder}"></sly>
</sly>-->
