<div class="search">
	<div class="wrap">
		<form class="search__form" action="" id="new-search-form">
			<label class="sr-only" for="search-bar-s">Search policies and documents</label>
			<input class="search__input" type="text" id="search-bar-s" placeholder="Search policies and documents ">
			<a class="search__reset tag" href="javascript:;" id="reset-button-s">Reset</a>
			<button class="search__btn-icon" type="submit" aria-label="Search" id="search-button-s">
				<span class=""><img class="search-icon" src="/content/dam/lor/ico-search.svg" style="width:40px;height:40px;margin-left:12px;margin-top:12px;"></span>
				<span class="sr-only">Submit the form</span>
			</button>
		</form>
	</div>
	<div class="wrap search-results-s">
	</div>
</div>

