.cmp-title {}
.cmp-title__text {}
.cmp-title__link {}


.cmp-title/*--underline*/ {
    .cmp-title__text {
        /*&:after {
            display: block;
            width: 84px;
            padding-top: 8px;
            content: '';
            border-bottom: 2px solid;
        }*/
        font-size: 16px;
        line-height: 38px;
        letter-spacing: 1px;
        margin-bottom: 10px;
        text-transform: uppercase;
        color:yellow;
    }
}