<template data-sly-template.related="${ @ ticket}">

<div class="related__col animation js-animation js-sc-slide"
	data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
	>
		<div class="card ">
			<div class="card__img-holder">
				<div class="card__image has-cover" style="${ticket.backgroundImageSrc @ context='styleString'}"><span class="sr-only">Card image</span></div>
			</div>
			<div class="card__content">
				<div data-sly-test="${ticket.ticketHeader}" class="card__top">
					<span class="card__hash hash">${ticket.ticketHeader}</span>
					<div class="card__time">
						<span class="icon font-ico-clock"><span class="sr-only">Icon clock</span></span>
						<span class="card__time-text">9 min read</span>
					</div>
				</div>
				<div class="card__bottom">
					<span data-sly-test="${ticket.tag}" class="card__date">${ticket.tag}</span>
					<h2 class="card__title">${ticket.title}</h2>
					<span class="card__author">${ticket.subtitle}</span>
					<p class="card__text">${ticket.description}</p>
					<div class="card__btn">
						<a href="javascript:;" class="btn">
							<span class="icon font-ico-arrow"><span class="sr-only">Arrow right</span></span>
							<span class="btn__outline">Read More</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>