	<sly data-sly-use.ticket="com.adobe.aem.guides.wknd.core.models.TicketLatest">
         <sly data-sly-test.pressrelease="${properties.layout == 'pressrelease'}"
             data-sly-use.pressreleaseTemplate="pressrelease.html"
             data-sly-call="${pressreleaseTemplate.pressrelease @ ticket=ticket}"></sly>
         <sly data-sly-test.simple="${!pressrelease}"
             data-sly-use.simpleTemplate="simple.html"
             data-sly-call="${simpleTemplate.simple @ ticket=ticket}"></sly>
    </sly>

