<section class="social-sharing">
    <div class="wrap wrap--smaller">
        <div class="social-sharing__wrap">
            <span class="social-sharing__text tag">Share this page:</span>
            <ul class="social-sharing__content" role="menubar">
                <li class="social-sharing__items" role="menuitem">
                    <a class="social-sharing__link" href="javascript:;" target="_blank">
                        <!--/* <span class="icon font-ico-twitter" aria-hidden="true"></span> */-->
                        <span class="icon" aria-hidden="true"><img src="/content/dam/lor/ico-twitter.svg" style="width:35px;height:35px;filter: invert(21%) sepia(64%) saturate(5244%) hue-rotate(173deg) brightness(100%) contrast(94%);"></span>
                        <span class="sr-only">Share on twitter</span>
                    </a>
                </li>
                <li class="social-sharing__items" role="menuitem">
                    <a class="social-sharing__link" href="javascript:;" target="_blank">
                        <!--/* <span class="icon font-ico-linkedin" aria-hidden="true"></span> */-->
                        <span class="icon" aria-hidden="true"><img src="/content/dam/lor/ico-linkedin.svg" style="width:35px;height:35px;filter: invert(21%) sepia(64%) saturate(5244%) hue-rotate(173deg) brightness(100%) contrast(94%);"></span>
                        <span class="sr-only">Share on linkedin</span>
                    </a>
                </li>
                <li class="social-sharing__items" role="menuitem">
                    <a class="social-sharing__link" href="javascript:;" target="_blank">
                        <!--/* <span class="icon font-ico-facebook" aria-hidden="true"></span> */-->
                        <span class="icon" aria-hidden="true"><img src="/content/dam/lor/ico-facebook.svg" style="width:35px;height:35px;filter: invert(21%) sepia(64%) saturate(5244%) hue-rotate(173deg) brightness(100%) contrast(94%);"></span>
                        <span class="sr-only">Share on facebook</span>
                    </a>
                </li>
                <li class="social-sharing__items" role="menuitem">
                    <a class="social-sharing__link" href="javascript:;" target="_blank">
                        <!--/* <span class="icon font-ico-mail" aria-hidden="true"></span> */-->
                        <span class="icon" aria-hidden="true"><img src="/content/dam/lor/ico-mail.svg" style="width:35px;height:35px;filter: invert(21%) sepia(64%) saturate(5244%) hue-rotate(173deg) brightness(100%) contrast(94%);"></span>
                        <span class="sr-only">Share on mail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>