<div 
    data-sly-use.carouselCustom="com.adobe.aem.guides.wknd.core.models.CarouselCustom">
	<sly data-sly-resource="${resource @ resourceType='wcm/foundation/components/responsivegrid'}" data-sly-test="${(wcmmode.edit)}"></sly>
	<sly data-sly-test="${(wcmmode.disabled)}">
	<section class="carouselcustom js-carouselcustom-slider">
        <div class="carouselcustom__slider" data-sly-list.item="${carouselCustom.carousel}">
            <div class="carouselcustom__animation--block js-carouselcustom-slide">
   				<sly data-sly-test.image="${item.assetType == 'image'}"
					data-sly-use.imageTemplate="image.html"
                    data-sly-call="${imageTemplate.image @ item=item}">
				</sly>
				<sly data-sly-test.video="${item.assetType == 'video'}"
					data-sly-use.videoTemplate="video.html"
					data-sly-call="${videoTemplate.video @ item=item}">
				</sly>
				<sly data-sly-test.youtubevideo="${item.assetType == 'youtubevideo'}"
					data-sly-use.youtubevideoTemplate="youtubevideo.html"
					data-sly-call="${youtubevideoTemplate.youtubevideo @ item=item}">
				</sly>
                <div class="carouselcustom__content js-carouselcustom-full-width">
					${item.richTextEditor @ context = 'html'}
                </div>

            </div>
        </div>
        <div class="carouselcustom__controls">
         <div class="carouselcustom__controls-counter">
             <span class="carouselcustom__controls-current js-carouselcustom-slider-current"></span>
             <span class="carouselcustom__controls-total js-carouselcustom-slider-total"></span>
         </div>
         <button class="carouselcustom__button carouselcustom__controls-btn carouselcustom__controls-btn--play js-carouselcustom-slider-btn" type="button" aria-label="Pause">
             <img class="carouselcustom__pause-img carouselcustom__pause" src="/content/dam/lor/resources/ico-pause.svg">
         </button>
         <button class="carouselcustom__button carouselcustom__controls-btn carouselcustom__controls-btn--skip js-carouselcustom-slider-next" type="button" aria-label="Next">
             <img class="carouselcustom__skip-img carouselcustom__skip" src="/content/dam/lor/resources/ico-skip.svg">
         </button>
        </div>
    </section>
	</sly>
</div>
